page-order-cart {
.div1{
    border-style:solid;
    border-width: thin;
    border-color:rgb(190, 190, 190);
    height: 130px;
}
.icon{
    position: relativeabsolute;
}
.trash{
    position: absolute;;
    margin-left: 255px;
    margin-top: -45px
}
.btn{
    
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
 }
}
